<!-- snippets/collection-products.liquid -->
{% if collection_handle %}
  {% assign current_collection = collections[collection_handle] %}  
  {% if current_collection and current_collection.products_count > 0 %}
    {%- for product in current_collection.products limit: 10 -%}
      <li
        id="Slide-{{ section_id }}-{{ forloop.index }}"
        class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: {{ forloop.index }};"
        {% endif %}
      >
        {% render 'card-product',
          card_product: product,
          media_aspect_ratio: image_ratio,
          image_shape: image_shape,
          show_secondary_image: show_secondary_image,
          show_vendor: show_vendor,
          show_rating: show_rating,
          section_id: section_id,
          quick_add: quick_add
        %}
      </li>
    {%- else -%}
      {%- for i in (1..columns_desktop) -%}
        <li
          class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {% liquid
            assign ridx = forloop.rindex
            case ridx
              when 5
                assign ridx = 1
              when 6
                assign ridx = 2
            endcase
          %}
          {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
          {% render 'card-product',
            show_vendor: show_vendor,
            media_aspect_ratio: image_ratio,
            image_shape: image_shape,
            placeholder_image: placeholder_image
          %}
        </li>
      {%- endfor -%}
    {% endfor %}
  {% else %}
    <p>No products found in this collection.</p>
  {% endif %}
{% else %}
    <p>Menu not found.</p>
{% endif %}