    <div class="father-day-container">
        <div class="one-whole column">
            <h2 class="mobile_title mg_bottom--zero text-align-center desktop_secondary_button">2024 Father's Day
                Cut-Off Dates </h2>
        </div>
        <div class="one-whole column rte">
            <h3 class='custom-father-title'>Dear beloved customers,</h3>
            <p>
                We are working days and nights to complete and deliver the product to you in the shortest time possible.
                Most importantly, we want to ensure that you receive your gifts in time for Father's Day. Therefore, to
                avoid unexpected delays with purchase orders, please review the chart below for the cut-off plan:
            </p>
            <p class='time-zone'>Time zone: Pacific Time (GMT-8) - 11:59 pm PST</p>

            <p class='decor-description'>
                Please note these deadline dates are estimations. We can not be held responsible for carrier delays as
                they no longer have service guarantees during the peak special occasion. At Father's Day, everyone wants
                everything urgently and we work through orders by the date ordered. The earlier you get our orders in,
                the earlier you will receive them!
            </p>
            <p>
                With orders placed after the stated deadlines, we cannot guarantee the order will be delivered in time
                for Father's Day.
            </p>
            <p>
                We hope you have a wonderful day!💐
            </p>
        </div>
    </div>

{% schema %}
{
    "name": "Father day cut off",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Father day cut off"
        }
    ]
}
{% endschema %}

{% style %}
  .father-day-container {
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .father-day-container p{
        font-family: Poppins, sans-serif;
    }

    .one-whole {
        width: calc(100% - 20px);
    }

    .colunn {
        margin-left: 10px;
        margin-right: 10px;
    }

    .rte {
        word-break: break-word;
    }

    .mobile_title {
        font-size: 20px !important;
        font-family: Nunito, sans-serif;
        font-weight: 700 !important;
        line-height: 28px !important;
    }

    .text-align-center {
        text-align: center;
    }

    .heading-content {
        font-family: Nunito, sans-serif;
        font-weight: 700;
        font-style: normal;
        text-transform: none;
        line-height: 1.5;
        color: #333;
        display: block;
        letter-spacing: 0px;
        text-rendering: optimizeLegibility;
        font-size: 35px;
        margin: 0 auto 15px 0;
    }

    .desktop_secondary_button {
        font-family: Nunito, sans-serif;
        font-size: 28px !important;
        line-height: 40px !important;
        font-weight: 700 !important;
    }

    .custom-ul {
        list-style-image: initial;
        list-style: disc outside;
        margin-bottom: 20px;
    }

    .custom-ul .custom-li {
        margin-bottom: 12px;
    }

    .custom-father-title {
        font-size: 24px;
    }

    .father-day-container p {
        font-size: 20px;
        line-height:24px;
    }

    .time-zone {
        font-family: Nunito, sans-serif;
        text-align: left !important;
        color: #0c94a4 !important;
        font-size: 18px !important;
        display: inline !important;
        letter-spacing: .02em !important;
        font-weight: 500 !important;
    }

    .decor-description {
        font-family: Poppins;
        font-size: 16px;
        text-align: left;
        color: #e78534;
        line-height: 22px;
        letter-spacing: .02em;
        margin-bottom: 8px;
    }

    .table-special-days {
        width: 100%;
        border-collapse: collapse;
    }

    .th-table-special-days,
    .td-table-special-days {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .th-table-special-days {
        background-color: #f2f2f2;
        font-weight: bold;
    }
{% endstyle %}
