<div>
  <div class="container_finder">
    <div class="custom-header">{{section.settings.title}}
    </div>
    <div class="form-border">
      <img class="img-sakura" src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/0401_light_string_decor.png?v=1704705419" srcset="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/0401_light_string_decor.png?v=1704705419 1536w" width="300" height="100" alt="0401_light string_decor.png__PID:d651e23b-2080-4bc3-b822-fade8773b895" data-pf-type="Image3" class="sc-gsNilK efdcmA pf-50a2faeaedcf-314_ pf-image-1 ls-is-cached lazyloaded" loading="lazy">
      <img class="balloon" src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/ftd24_home-gift_finder_decor_1.png?v=1715765827" srcset="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/ftd24_home-gift_finder_decor_1.png?v=1715765827 1536w" width="240" height="280" alt="ftd24_home-gift_finder_decor_1.png__PID:54b77e12-cf96-4f8c-bb93-9263662760ec" data-pf-type="Image3" class="sc-gsNilK efdcmA pf-50a2faeaedcf-310_ pf-image-1 pf_gift_decor ls-is-cached lazyloaded" loading="lazy">
      <div class="form-container">
        <div class="form-row">
          <div class="form-group">
            <label class='label-finder' for="selectbox1">Who Is This For?</label>
            <select class='select-finder' id="selectbox1">
              <option value="">Choose an option</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
          <div class="form-group">
            <label class='label-finder' for="selectbox2">What is the Occasion?</label>
            <select class='select-finder' id="selectbox2">
              <option value="">Choose an option</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
          <div class="form-group-button">
            <button class='button-finder' type="button" onclick="redirectToPage()">FIND A GIFT NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function redirectToPage() {
    window.location.href = "https://duconspace.com/collections/all";
  }
</script>

{% schema %}
  {
    "name": "Finder",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "QUICK GIFT FINDER"
      }
    ],
    "presets": [
      {
        "name": "Finder"
      }
    ]
  }
{% endschema %}

{% style %}
  .container_finder {
    margin: 0 10px;
  }

  .header_finder {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: .04em;
    color: #000;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: .5%;
    font-weight: 600;
  }

  .form-border {
    position: relative;
    max-width: 1150px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 16px 14px;
    background-color: rgb(179 214 255);
    margin: 15px auto;
  }

  .form-container {
    width: 100%;
    padding: 24px 20px;
    border-radius: 16px;
    background: #b3d6ff;
    box-shadow: rgba(6, 74, 158, 0.12) 0 -6px 10px 0 inset, rgba(12, 114, 232, 0.2) 0 6px 10px 0 inset;
  }

  .form-row {
    display: flex;
    flex-direction: column;
  }

  @media(min-width: 768px) {
    .form-row {
      flex-direction: row;
      gap: 1rem;
    }
  }

  .form-group {
    width: 100%;
    margin-bottom: 1rem;
  }

  @media(min-width: 768px) {
    .form-group {
      width: 46%;
      margin-bottom: 0;
    }
  }

  .form-group-button {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  @media(min-width: 768px) {
    .form-group-button {
      width: 25%;
    }
  }

  .label-finder {
    display: block;
    color: #4a5568;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .select-finder {
    font-weight: 600;
    font-size: 1.6rem;
    height: 4.6rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #cbd5e0;
    border-radius: 9px;
    width: 100%;
    padding: 0.5rem;
    color: #4a5568;
    outline: none;
    cursor: pointer;
  }

  .select-finder:focus {
    border: solid black 0.5px;
  }

  .button-finder {
    border: 2px solid white;
    height: 55px;
    font-size: 1.9rem;
    background-color: #4299e1;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    outline: none;
  }

  .button-finder:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }

  .form-border .img-sakura {
    position: absolute;
    top: 0;
    right: 0;
    width: 191px;
    height: auto;
  }

  .form-border .balloon {
    position: absolute;
    bottom: -10px;
    left: -36px;
    width: 90px;
    height: auto;
  }
{% endstyle %}
