    <div class="happy-customer-container">
        <div class="happy-customer-content">
            <div class="review-btn-group">
                <div class="review-point">
                    <div class="review-header">
                        <span class="customer-reviews">Customer Reviews</span>
                        <div class="all-review-stars">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>
                    </div>
                    <span class="review-number">Based on 11 reviews</span>
                </div>
                <div class="btn-form-container">
                    <button id="write-review" class="btn-toggle-form">
                        Write a Review
                    </button>
                    <button id="ask-question" class="btn-toggle-form">
                        Ask a question
                    </button>
                </div>
            </div>
            <div class="review-control">
                <select class="reviews-filter" name="" id="">
                    <option value="">Most Recent</option>
                    <option value="">Highest Rating</option>
                    <option value="">Lowest Rating</option>
                    <option value="">Only pictures</option>
                    <option value="">Pictures First</option>
                    <option value="">Video First</option>
                    <option value="">Most Helpful</option>
                </select>
            </div>

            <div class="review-form">
                <div class="input-container">
                    <div class="input-label">Name*</div>
                    <input type="text" placeholder='Enter your name (public)'>
                </div>
                <div class="input-container">
                    <div class="input-label">Email*</div>
                    <input type="text" placeholder='Enter your email (private)'>
                </div>
                <div class="input-container">
                    <div class="input-label">Rating*</div>
                    <div class="all-review-stars">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                </div>
                <div class="input-container">
                    <div class="input-label">Review Title*</div>
                    <input type="text" placeholder='Give your review a ttile'>
                </div>
                <div class="input-container">
                    <div class="input-label">Review*</div>
                    <textarea rows="8" placeholder="Write your comments here"></textarea>
                </div>
                <div class="input-container">
                    <div class="input-label">Picture/Video (Optional)</div>
                </div>
                <div class="input-container">
                    <p>How we use your data: We’ll only contact you about the review you left, and only if necessary. By
                        submitting your review, you agree to Judge.me’s terms, privacy and content policies.</p>
                </div>
                <div class="input-container">
                    <button class='btn-submit-review'>Submit Review</button>
                </div>
            </div>

            <div class="ask-form">
                <div class="input-container">
                    <div class="input-label">Name*</div>
                    <input type="text" placeholder='Enter your name (public)'>
                </div>
                <div class="input-container">
                    <div class="input-label">Email*</div>
                    <input type="text" placeholder='Enter your email (private)'>
                </div>
                <div class="input-container">
                    <div class="input-label">Question</div>
                    <textarea rows="8" placeholder="Write your comments here"></textarea>
                </div>
                <div class="input-container">
                    <button class='btn-submit-review'>Submit Question</button>
                </div>
            </div>

            <div class="product-review-tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab1">Product Reviews (45572)</a></li>
                    <li><a href="#tab2">Shop Reviews (1914)</a></li>
                </ul>
                <div class="review-tab-content">
                    <div id="tab1" class="tab active">
                        <div class="grid-container">
                            <div class="grid-item">
                                <div class="client-image">
                                    <img alt="User picture"
                                        data-src="https://judgeme.imgix.net/pawfect-house/1717164238__1000006020__original.jpg?auto=format&amp;w=160&amp;dpr=2&amp;w=303"
                                        src="https://judgeme.imgix.net/pawfect-house/1717459921__img_9921__original.jpeg?auto=format&w=160&dpr=1&w=303"
                                        loading="lazy"
                                        width="100%" height="100%"
                                    >
                                </div>
                                <div class="card-content">
                                    <span class="client-name">Michelle Harper</span>
                                    <div class="all-review-stars">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <span class="client-feel">Awesome gift!</span>
                                    <span class="client-comment">This was a fun gift for my husband!</span>
                                </div>
                                <div class='tag-product'>
                                    <span>Product Link:</span><br>
                                    <a href="https://www.google.com.vn/?hl=vi">The Ultimate Cat Dad - Personalized
                                        Unisex T-Shirt</a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="client-image">
                                    <img alt="User picture"
                                        data-src="https://judgeme.imgix.net/pawfect-house/1717164238__1000006020__original.jpg?auto=format&amp;w=160&amp;dpr=2&amp;w=303"
                                        src="https://judgeme.imgix.net/pawfect-house/1717447177__img_1456__original.jpeg?auto=format&w=160&dpr=1&w=303"
                                        loading="lazy"
                                        width="100%" height="100%"
                                    >
                                </div>
                                <div class="card-content">
                                    <span class="client-name">Michelle Harper</span>
                                    <div class="all-review-stars">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <span class="client-feel">Awesome gift!</span>
                                    <span class="client-comment">Perfect fit. Quick turnaround
                                        Very happy with this product</span>
                                </div>
                                <div class='tag-product'>
                                    <span>Product Link:</span><br>
                                    <a href="https://www.google.com.vn/?hl=vi">The Ultimate Cat Dad - Personalized
                                        Unisex T-Shirt</a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="client-image">
                                    <img alt="User picture"
                                        data-src="https://judgeme.imgix.net/pawfect-house/1717164238__1000006020__original.jpg?auto=format&amp;w=160&amp;dpr=2&amp;w=303"
                                        src="https://judgeme.imgix.net/pawfect-house/1717411417__img_4110__original.jpeg?auto=format&w=160&dpr=1&w=303"
                                        loading="lazy"
                                        width="100%" height="100%"
                                    >
                                </div>
                                <div class="card-content">
                                    <span class="client-name">Michelle Harper</span>
                                    <div class="all-review-stars">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <span class="client-feel">Awesome gift!</span>
                                    <span class="client-comment">I absolutely love mine. I like how the glow inside
                                        looks like stars. It was wrapped very well too. It's such a... Read more</span>
                                </div>
                                <div class='tag-product'>
                                    <span>Product Link:</span><br>
                                    <a href="https://www.google.com.vn/?hl=vi">The Ultimate Cat Dad - Personalized
                                        Unisex T-Shirt</a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="client-image">
                                    <img alt="User picture"
                                        data-src="https://judgeme.imgix.net/pawfect-house/1717164238__1000006020__original.jpg?auto=format&amp;w=160&amp;dpr=2&amp;w=303"
                                        src="https://judgeme.imgix.net/pawfect-house/1717383243__20240601_102028__original.jpg?auto=format&w=160&dpr=1&w=303"
                                        loading="lazy"
                                        width="100%" height="100%"
                                    >
                                </div>
                                <div class="card-content">
                                    <span class="client-name">Michelle Harper</span>
                                    <div class="all-review-stars">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <span class="client-feel">Awesome gift!</span>
                                    <span class="client-comment">Loved it fit was perfect and it arrived super
                                        quick.</span>
                                </div>
                                <div class='tag-product'>
                                    <span>Product Link:</span><br>
                                    <a href="https://www.google.com.vn/?hl=vi">The Ultimate Cat Dad - Personalized
                                        Unisex T-Shirt</a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="client-image">
                                    <img alt="User picture"
                                        data-src="https://judgeme.imgix.net/pawfect-house/1717164238__1000006020__original.jpg?auto=format&amp;w=160&amp;dpr=2&amp;w=303"
                                        src="https://judgeme.imgix.net/pawfect-house/1717366287__img_20240601_134644943__original.jpg?auto=format&w=160&dpr=1&w=303"
                                        loading="lazy"
                                        width="100%" height="100%"
                                    >
                                </div>
                                <div class="card-content">
                                    <span class="client-name">Michelle Harper</span>
                                    <div class="all-review-stars">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <span class="client-feel">Awesome gift!</span>
                                    <span class="client-comment">My husband love his shirt!!
                                        I bought the shirt as a surprise for my husband. He’s super happy with it. It’s
                                        lightweight and soft. Great for... Read more</span>
                                </div>
                                <div class='tag-product'>
                                    <span>Product Link:</span><br>
                                    <a href="https://www.google.com.vn/?hl=vi">The Ultimate Cat Dad - Personalized
                                        Unisex T-Shirt</a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="client-image">
                                    <img alt="User picture"
                                        data-src="https://judgeme.imgix.net/pawfect-house/1717164238__1000006020__original.jpg?auto=format&amp;w=160&amp;dpr=2&amp;w=303"
                                        src="https://judgeme.imgix.net/pawfect-house/1717164238__1000006020__original.jpg?auto=format&amp;w=160&amp;dpr=2&amp;w=303"
                                        loading="lazy"
                                        width="100%" height="100%"
                                    >
                                </div>
                                <div class="card-content">
                                    <span class="client-name">Michelle Harper</span>
                                    <div class="all-review-stars">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <span class="client-feel">Awesome gift!</span>
                                    <span class="client-comment">This was a fun gift for my husband!This was a fun gift
                                        for my husband!This was a fun gift for my husband!This was a fun gift for my
                                        husband!</span>
                                </div>
                                <div class='tag-product'>
                                    <span>Product Link:</span><br>
                                    <a href="https://www.google.com.vn/?hl=vi">The Ultimate Cat Dad - Personalized
                                        Unisex T-Shirt</a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="client-image">
                                    <img alt="User picture"
                                        data-src="https://judgeme.imgix.net/pawfect-house/1717164238__1000006020__original.jpg?auto=format&amp;w=160&amp;dpr=2&amp;w=303"
                                        src="https://judgeme.imgix.net/pawfect-house/1717227249__img_6670__original.jpeg?auto=format&w=1024"
                                        loading="lazy"
                                        width="100%" height="100%"
                                    >
                                </div>
                                <div class="card-content">
                                    <span class="client-name">Michelle Harper</span>
                                    <div class="all-review-stars">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <span class="client-feel">Awesome gift!</span>
                                    <span class="client-comment">I absolutely love mine. I like how the glow inside
                                        looks like stars. It was wrapped very well. It's such a... Read more</span>
                                </div>
                                <div class='tag-product'>
                                    <span>Product Link:</span><br>
                                    <a href="https://www.google.com.vn/?hl=vi">The Ultimate Cat Dad - Personalized
                                        Unisex T-Shirt</a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="client-image">
                                    <img alt="User picture"
                                        data-src="https://judgeme.imgix.net/pawfect-house/1717164238__1000006020__original.jpg?auto=format&amp;w=160&amp;dpr=2&amp;w=303"
                                        src="https://judgeme.imgix.net/pawfect-house/1717293802__bday95__original.jpg?auto=format&w=1024"
                                        loading="lazy"
                                        width="100%" height="100%"
                                    >
                                </div>
                                <div class="card-content">
                                    <span class="client-name">Michelle Harper</span>
                                    <div class="all-review-stars">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <span class="client-feel">Awesome gift!</span>
                                    <span class="client-comment">I ordered a pet doormat for my daughter and her family
                                        - and I LOVE IT !!! It was MUCH nicer than I ever anticipated - and it's
                                        beautiful. I just hope that it'll hold up to outdoor Minnesota winters !!</span>
                                </div>
                                <div class='tag-product'>
                                    <span>Product Link:</span><br>
                                    <a href="https://www.google.com.vn/?hl=vi">The Ultimate Cat Dad - Personalized
                                        Unisex T-Shirt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab">
                        <h2>Tab 2 Content</h2>
                        <p>This is the content for Tab 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% schema %}
{
    "name": "product-customer-review",
    "settings": [
    ],
    "presets": [
        {
            "name": "product-customer-review"
        }
    ]
}
{% endschema %}

{% style %}
.review-btn-group{
        display: flex;
        justify-content: space-between;
    }

    .review-btn-group .review-header{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .review-btn-group .review-header .customer-reviews{
        font-size: 30px;
        font-weight: bold;
    }

    .happy-customer-container {
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
    }

    .happy-customer-container .happy-customer-content {
        padding: 30px 0 15px;
        display: flex;
        flex-direction: column;
    }

    .happy-customer-banner {
        max-width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .happy-customer-container .happy-customer-content .happy-customer-title {
        text-align: center;
        color: #3b4148;
        font-size: 28px;
        line-height: 40px;
        font-weight: 700;
    }

    .happy-customer-container .happy-customer-content .reviews_metadata {
        text-align: center;
        row-gap: 8px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .happy-customer-container .happy-customer-content .reviews_metadata .mobile_menu_title {
        margin-top: 0;
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
    }

    .all-review-stars {
        display: flex;
        justify-content: center;
    }

    .star {
        font-size: 30px;
        color: #FFD700;
        margin-right: 5px;
    }

    .star:last-child {
        margin-right: 0;
    }

    .review-control {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        margin-bottom: 15px;
    }

    .review-btn-group .btn-toggle-form {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        color: #000;
        padding: 12px 16px;
        border-radius: 10px;
        width: 200px;
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
        background-color: #fff;
    }

    .review-control .btn-toggle-form {
        cursor: pointer;
        display: flex;
        justify-content: center;
        border: 2px solid #38c6d3;
        color: #38c6d3;
        padding: 12px 16px;
        border-radius: 10px;
        width: 200px;
        font-size: 16px;
        font-weight: bold;
    }

    .review-control .reviews-filter {
        display: flex;
        justify-content: center;
        cursor: pointer;
        appearance: none;
        border: none;
        padding: 14px 20px;
        border-radius: 10px;
        width: 160px;
        background-color: #dcf5f8;
    }

    #cancel-review {
        display: none;
    }

    .product-review-tabs {
        width: 100%;
    }

    .tab-links {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0 0 20px 0;
        border-bottom: 1px solid #ccc;
    }

    .tab-links li {
        margin-right: 5px;
    }

    .tab-links a {
        font-size: 18px;
        font-weight: 500;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #333;
        border-bottom: none;
    }

    .tab-links li.active a {
        background-color: #ffffff;
        border-bottom: 1px solid #ffffff;
        color: #0bb9ca;
        font-weight: bold;
        border-bottom: 3px solid;
    }

    .review-tab-content {
        border: 1px solid #ccc;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 0 5px 5px 5px;
    }

    .tab {
        display: none;
    }

    .tab.active {
        display: block;
    }

    .grid-container {
        column-count: 4;
        column-gap: 10px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .card-content .client-name {
        font-size: 20px !important;
        letter-spacing: .02em;
        font-weight: bold;
    }

    .card-content .client-comment {
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
    }

    .card-content .client-feel {
        font-size: 18px;
        margin-top: 10px;
        font-weight: bold;
    }

    .tag-product {
        border-top: 1px solid black;
        padding: 15px;
    }

    .tag-product a {
        text-decoration-line: none;
        color: #df6518;
    }

    .tag-product a:hover {
        color: #0bb9ca;
    }

    .grid-item {
        break-inside: avoid;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        border: 1px solid #e5e5e5;
        box-shadow: 0 2px 4px #07081d0a;
        margin-bottom: 15px;
    }

    .card-content .all-review-stars {
        justify-content: start;
    }

    .card-content .all-review-stars .star {
        margin: 0;
        font-size: 20px;
    }

    .jdgm-sort-dropdown-arrow {
        display: block;
        width: 0;
        height: 0;
        right: 8px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid black;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .review-form {
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #fafafa;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .ask-form {
        margin-top: 20px;
        padding: 30px 40px;
        background-color: #fafafa;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .review-form .input-container {
        width: 70%;
    }

    .ask-form .input-container {
        width: 70%;
    }

    .review-form .input-container .input-label {
        margin: 16px 0 6px !important;
        line-height: 24px !important;
        font-weight: 600 !important;
        letter-spacing: .025em;
        font-size: 18px;
    }

    .ask-form .input-container .input-label {
        margin: 16px 0 6px !important;
        line-height: 24px !important;
        font-weight: 600 !important;
        letter-spacing: .025em;
        font-size: 18px;
    }

    .review-form .input-container input {
        border: 1.5px solid #e5e5e5;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        padding: 2px 20px;
    }

    .ask-form .input-container input {
        border: 1.5px solid #e5e5e5;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        padding: 2px 20px;
    }

    .review-form .input-container textarea {
        border: 1.5px solid #e5e5e5;
        width: 100%;
        border-radius: 8px;
        padding: 10px 20px;
    }

    .ask-form .input-container textarea {
        border: 1.5px solid #e5e5e5;
        width: 100%;
        border-radius: 8px;
        padding: 10px 20px;
    }

    .review-form .input-container .all-review-stars {
        justify-content: flex-start;
    }

    .ask-form .input-container .all-review-stars {
        justify-content: flex-start;
    }

    .review-form .input-container .all-review-stars .star {
        margin-right: 0;
        font-size: 22px;
    }

    .ask-form .input-container .all-review-stars .star {
        margin-right: 0;
        font-size: 22px;
    }

    .btn-submit-review {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background-color: #0bb9ca;
        border: none;
    }

    .client-image img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .btn-form-container{
        display: flex;
        gap: 10px;
    }

    @media (max-width: 798px) {
        .happy-customer-container {
            width: 100%;
        }

        .review-control .btn-toggle-form {
            width: 100%;
        }

        .review-control .reviews-filter {
            width: 100%;
        }

        .happy-customer-container .happy-customer-content .reviews_metadata .mobile_menu_title {
            margin-top: 0;
            font-size: 18px;
        }

        .happy-customer-container .happy-customer-content .happy-customer-title {
            font-size: 18px;
        }

        .star {
            font-size: 22px;
        }

        .grid-container {
            column-count: 2 !important;
            column-gap: 10px;
        }

        .review-form .input-container {
            width: 85%;
        }

        .ask-form .input-container {
            width: 85%;
        }

        .tab-links {
            display: flex;
            justify-content: center;
        }
    }

    @media (max-width: 1024px) {
        .review-btn-group .review-header {
            flex-direction: column;
            gap: 0;
        }

        .review-point{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .review-btn-group .btn-toggle-form {
            width: 50%;
        }

        .review-btn-group{
            display: flex;
            flex-direction: column;
        }

        .grid-container {
            column-count: 3;
            column-gap: 10px;
        }

        .review-form {
            padding: 20px 0px;
        }

        .ask-form {
            padding: 20px 10px;
        }

        .btn-submit-review {
            margin-top: 10px;
            width: 108%;
        }
    }
{% endstyle %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabLinks = document.querySelectorAll(".tab-links li a");
        const tabs = document.querySelectorAll(".tab");

        tabLinks.forEach(function (link) {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                tabLinks.forEach(function (link) {
                    link.parentElement.classList.remove("active");
                });
                tabs.forEach(function (tab) {
                    tab.classList.remove("active");
                });

                link.parentElement.classList.add("active");
                const activeTab = document.querySelector(link.getAttribute("href"));
                activeTab.classList.add("active");
            });
        });
    });
</script>

<script>
    document.getElementById('write-review').addEventListener('click', function () {
        var askForm = document.querySelector('.ask-form');
        var reviewForm = document.querySelector('.review-form');
        
        if (askForm.style.display !== 'none' && askForm.style.display !== '') {
            askForm.style.display = 'none';
            reviewForm.style.display = 'none';
        } else {
            askForm.style.display = 'flex';
            reviewForm.style.display = 'none';
        }
    });

    document.getElementById('ask-question').addEventListener('click', function () {
        var reviewForm = document.querySelector('.review-form');
        var askForm = document.querySelector('.ask-form');
        if (reviewForm.style.display !== 'none' && reviewForm.style.display !== '') {
            reviewForm.style.display = 'none';
            askForm.style.display = 'none';
        } else {
            reviewForm.style.display = 'flex';
            askForm.style.display = 'none';
        }
    });
</script>
