    <div class="replacement-wrapper">
        <div class="
              container
              content
              page ">
            <div class="one-whole column">
                <h1 class="replacement-title">Replacement &amp;
                    Refund
                    Policy</h1>
            </div>
            <div class="one-whole column rte">
                <meta charset="utf-8">
                <p>More than anything we want you to be happy with your purchase!! If something doesn’t look for feel
                    right,
                    please email us <span style="text-decoration: underline;"><a
                            href="https://duconspace.com/pages/contact"
                            target="_blank"><strong>here</strong></a></span>&nbsp;and we’ll make it right!&nbsp;</p>
                <p>Also please be informed that placing an order means that you accept all the terms mentioned below</p>
                <br>
                <p><strong>CANCELLATION &amp; MODIFICATION</strong></p>
                <p>If you change your mind about your purchase, please submit your ticket via <span
                        style="text-decoration: underline;"><a
                            href="https://duconspace.com/pages/contact"
                            target="_blank"><strong>this
                                form</strong></a></span>, provide your order number and the modification you would like
                    to
                    apply. We’ll confirm once the modification or cancellation has been made.<br><br>Your order is only
                    <strong>eligible</strong> to be canceled and modified <strong>within 2 hours.</strong> After that
                    time, the
                    order is locked for processing and can no longer be canceled or edited. <br><br>Please be informed
                    that:<br><br>
                </p>
                <ul>
                    <li>Personalized Orders are locked for processing right after the order is completed so sometimes it
                        is
                        impossible to make adjustments. Please double check all details before completing the order.
                    </li>
                </ul>
                <ul>
                    <li>For modification requests in the holiday season, orders may reach you a little longer than
                        usual.
                        However, it is rare because we always try to complete the changes immediately.</li>
                </ul>
                <p><strong>NOTE:</strong> Please keep in mind that purchasing means accepting all the terms mentioned
                    above.</p>
                <br>
                <p><strong>FREE REPLACEMENT OR REFUND</strong><br><br>This applies to&nbsp;packages&nbsp;with
                    no&nbsp;movement
                    for more than 3 weeks or far exceeding our estimated time of arrival (ETA). If there is <span
                        style="text-decoration: underline;">no problem with the shipping address</span>, you will
                    receive a
                    <strong>FREE</strong> <strong>replacement</strong> in a timely manner. <br><br>We will take full
                    responsibility<strong> within 45 days from order arrival</strong>, if the product(s)
                </p>
                <ul>
                    <li>Have been crashed, damaged or faulty</li>
                    <li>Are not what you ordered or not as in your Order Confirmation email</li>
                </ul>
                <p>You may choose to <strong>REPLACE</strong> the item or get a <strong>REFUND</strong>. Please keep
                    calm and
                    fill in <span style="text-decoration: underline;"><strong><a
                                href="https://duconspace.com/pages/contact"
                                target="_blank">this
                                form</a></strong></span> to receive prompt support from our Customer Happiness
                    experts.<br><br>Making customers return, not our products: We believe that REPLACEMENT or REFUND may
                    help
                    resolve your issue at best. Thus, <strong>we do not have policies for returning</strong> and, the
                    original
                    items <strong>can be kept at your own disposal</strong>.&nbsp;</p>
                <p><br><strong>REPLACEMENT WITH SMALL FEE</strong><br><br>In some cases below, fortunately,
                    <strong>replacement</strong> can be sent with just <strong>a small fee</strong> compared to the
                    original
                    price:<br><br>1. You received the wrong item/ design/ size due to incorrectly customized
                    input.<br><br>2.
                    Your shipping address was returned and destroyed due to incorrect address input.<br><br>Every
                    customer
                    matters, your happiness will also be customized in each and every contact with Pawfect House. Thank
                    you for
                    placing trust in our business and letting us do what we love!<br><br>If you have any questions,
                    please don't
                    hesitate to contact us <span style="text-decoration: underline;"><strong><a
                                href="https://duconspace.com/pages/contact"
                                target="_blank">here</a></strong></span> or call us at (251) 322-2322.
                </p>
            </div>
        </div>
    </div>
    
{% schema %}
{
    "name": "Replace and refund",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Replace and refund"
        }
    ]
}
{% endschema %}

{% style %}
   .replacement-wrapper {
  max-width: 1280px !important;
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
}

.replacement-wrapper p,
.replacement-wrapper ul,
.replacement-wrapper li {
  font-family: Nunito, sans-serif;
  font-size: 16px;
}

.replacement-wrapper .replacement-title{
  font-family: Nunito, sans-serif;
  font-size: 24px;
  text-align: center;
}

/* Whole */
.one-whole {
  width: calc(100% - 20px);
}
{% endstyle %}
