    <div class="size-container">
        <div class="one-whole column">
            <h1 class="mobile_title mg_bottom--zero text-align-center desktop_secondary_button">SIZE CHARTS</h1>
        </div>
        <div class="one-whole column rte">
            <div class='heading-title'>Apparel</div>
            <img src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/tee-top.jpg?v=1701933930"
                srcset="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/tee-top.jpg?v=1701933930 1536w, https://cdn.shopify.com/s/files/1/0563/9988/8539/files/tee-top_500x.jpg?v=1701933930 320w"
                width="1080" height="618" alt="tee-top.jpg__PID:5b25eea7-5ad1-4d3c-886a-5a080e972efe"
                data-pf-type="Image3" class="size-img"
                alt='body-size'
                loading="lazy">
            <p class="custom-content" tabindex="0" spellcheck="false" data-pf-type="Paragraph3"><b>Shoulder
                    Width:</b>Measure between the shoulder seams measured straight
                across the back.<br><b>Chest Width:</b>Measure flat across chest from seam under each
                arm.<br><b>Chest:</b>Measure across the chest one inch below the armhole when laid flat.<br><b>Body
                    Length:</b>Measure from the high point of the shoulder from the back.<br><b>Sleeve
                    Length:</b>Measure between the tip of the shoulder to the opening of the sleeve.
            </p>

            <p class="custom-content">
                *There might be ±5% deviation in length and width for manual measurement and production processes. The
                size numbers are measured in inches. The sizing chart is for reference only.
            </p>

            <img class='size-img'
                src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/tee-basic.jpg?v=1701933930"
                srcset="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/tee-basic.jpg?v=1701933930 1536w, https://cdn.shopify.com/s/files/1/0563/9988/8539/files/tee-basic_500x.jpg?v=1701933930 320w"
                width="1080" height="552" alt="tee-basic.jpg__PID:58dde95b-25ee-475a-91bd-3c086a5a080e"
                data-pf-type="Image3"
                loading="lazy">

            <img class='size-img'
                src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/Hoodie_Size.jpg?v=1710386445"
                srcset="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/Hoodie_Size.jpg?v=1710386445 1536w, https://cdn.shopify.com/s/files/1/0563/9988/8539/files/Hoodie_Size_500x.jpg?v=1710386445 320w"
                width="1080" height="555" alt="Hoodie Size.jpg__PID:23b17693-af00-43e2-8d1b-22e73093ef9d"
                data-pf-type="Image3"
                loading="lazy">

            <img class='size-img'
                src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/tee-sweatshirt.jpg?v=1701933930"
                srcset="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/tee-sweatshirt.jpg?v=1701933930 1536w, https://cdn.shopify.com/s/files/1/0563/9988/8539/files/tee-sweatshirt_500x.jpg?v=1701933930 320w"
                width="1080" height="552" alt="tee-sweatshirt.jpg__PID:e95b25ee-a75a-41bd-bc08-6a5a080e972e"
                data-pf-type="Image3"
                loading="lazy">

            <div class='heading-title'>Slippers</div>

            <p class="custom-content" tabindex="0" spellcheck="false"
                data-pf-type="Paragraph3"><b>Notice:<br></b>1. Please choose the size only according to your foot
                length.<br>2. If your feet are "between" sizes, we suggest you choose the larger size.<br></p>

                <img src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/slipper-top.jpg?v=1701933930" srcset="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/slipper-top.jpg?v=1701933930 1536w, https://cdn.shopify.com/s/files/1/0563/9988/8539/files/slipper-top_500x.jpg?v=1701933930 320w" width="1080" height="563" alt="slipper-top.jpg__PID:f858dde9-5b25-4ea7-9ad1-bd3c086a5a08" data-pf-type="Image3" class="size-img" loading="lazy">
                <img src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/slipper-kid_0cea4132-0537-4d7e-9450-9d4422c3786d.jpg?v=1701947338" srcset="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/slipper-kid_0cea4132-0537-4d7e-9450-9d4422c3786d.jpg?v=1701947338 1536w, https://cdn.shopify.com/s/files/1/0563/9988/8539/files/slipper-kid_0cea4132-0537-4d7e-9450-9d4422c3786d_500x.jpg?v=1701947338 320w" width="1080" height="756" alt="slipper-kid.jpg__PID:b93d0dac-e19c-499a-ad2b-392365161bcb" data-pf-type="Image3" class="size-img" loading="lazy">
                <img src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/slipper-kid_0cea4132-0537-4d7e-9450-9d4422c3786d.jpg?v=1701947338" srcset="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/slipper-kid_0cea4132-0537-4d7e-9450-9d4422c3786d.jpg?v=1701947338 1536w, https://cdn.shopify.com/s/files/1/0563/9988/8539/files/slipper-kid_0cea4132-0537-4d7e-9450-9d4422c3786d_500x.jpg?v=1701947338 320w" width="1080" height="756" alt="slipper-kid.jpg__PID:b93d0dac-e19c-499a-ad2b-392365161bcb" data-pf-type="Image3" class="size-img" loading="lazy">
        </div>
    </div>

{% schema %}
{
    "name": "Size charts",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Size charts"
        }
    ]
}
{% endschema %}

{% style %}
  .size-container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .one-whole {
        width: calc(100% - 20px);
    }

    .colunn {
        margin-left: 10px;
        margin-right: 10px;
    }

    .rte {
        word-break: break-word;
    }

    .mobile_title {
        font-size: 20px !important;
        font-family: Nunito, sans-serif;
        font-weight: 700 !important;
        line-height: 28px !important;
    }

    .text-align-center {
        text-align: center;
    }

    .heading-content {
        font-family: Nunito, sans-serif;
        font-weight: 700;
        font-style: normal;
        text-transform: none;
        line-height: 1.5;
        color: #333;
        display: block;
        letter-spacing: 0px;
        text-rendering: optimizeLegibility;
        font-size: 35px;
        margin: 0 auto 15px 0;
    }

    .desktop_secondary_button {
        font-size: 28px !important;
        line-height: 40px !important;
        font-weight: 700 !important;
    }

    .custom-ul {
        list-style-image: initial;
        list-style: disc outside;
        margin-bottom: 20px;
    }

    .custom-ul .custom-li {
        margin-bottom: 12px;
    }

    .heading-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        background-color: #ffa656;
        width: 200px;
        margin-bottom:10px;
    }

    .size-img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .custom-content {
        font-size: 20px;
        line-height: 30px;
        font-family: Nunito, sans-serif;
    }
{% endstyle %}
